stages:
  - build
  - test
  - publish
  - deploy

include:
  - project: pommalabs/templates
    file: /.gitlab/ci_templates/node/git-version.gitlab-ci.yml
  - project: pommalabs/templates
    file: /.gitlab/ci_templates/git/.git-archive.gitlab-ci.yml
  - project: pommalabs/templates
    file: /.gitlab/ci_templates/node/install-dependencies.gitlab-ci.yml
  - project: pommalabs/templates
    file: /.gitlab/ci_templates/node/check-source-code-style.gitlab-ci.yml
  - project: pommalabs/templates
    file: /.gitlab/ci_templates/node/run-tests.gitlab-ci.yml
  #- project: pommalabs/templates
  #  file: /.gitlab/ci_templates/dotnet/publish-sonar-report.gitlab-ci.yml
  - project: pommalabs/templates
    file: /.gitlab/ci_templates/docker/.publish-on-container-registry.gitlab-ci.yml
  - project: pommalabs/templates
    file: /.gitlab/ci_templates/kubernetes/.restart-k8s-deployment.gitlab-ci.yml

git-archive:
  extends: .git-archive
  only:
    - preview
    - main

build-app:
  stage: build
  image:
    name: node:lts
    pull_policy: if-not-present
  script:
    - npm run build
  needs:
    - install-dependencies

publish-preview-on-container-registry:
  extends: .publish-on-container-registry-multi-arch
  variables:
    IMAGE_TAG: "preview"
    DOCKERFILE_LOCATION: "docker/Dockerfile"
  only:
    - preview

publish-latest-on-container-registry:
  extends: .publish-on-container-registry-multi-arch
  variables:
    IMAGE_TAG: "latest"
    DOCKERFILE_LOCATION: "docker/Dockerfile"
  only:
    - main

restart-preview-k8s-deployment:
  extends: .restart-k8s-deployment
  variables:
    K8S_DEPLOYMENT_NAMESPACE: "librecheck-preview"
    K8S_DEPLOYMENT_NAME: "librecheck-app"
  only:
    - preview

restart-k8s-deployment:
  extends: .restart-k8s-deployment
  variables:
    K8S_DEPLOYMENT_NAMESPACE: "librecheck"
    K8S_DEPLOYMENT_NAME: "librecheck-app"
  only:
    - main
